@font-face {
  font-family: 'Kanit';
  /* src: url('./../public/Kanit-Regular.ttf') format('truetype'); */
  src: url('./../public/Prompt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Kanit', fallback-fonts;
}
