@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kanit';
  /* src: url('./../public/Kanit-Regular.ttf') format('truetype'); */
  src: url('./../public/Prompt-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Kanit', fallback-fonts;
}

:root {
  --black: #000000;
  --semiblack: #2d2c2c;
  --main-green: #3e9436;
  --gradiante-negro: linear-gradient(to right, var(--black), var(--semiblack));
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 20px white inset !important;
}
