#main-container {
  max-width: 900px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

#content {
  display: flex;
  justify-content: center;
  max-width: 900px;
}

#header {
  top: 0;
  bottom: auto;
  width: 100%;
  left: auto;
  right: auto;
  background: transparent;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
